// ────────────── Output Configuration ──────────────
// You can run `niri msg outputs` to get the correct name for your displays.
// You will have to remove "/-" and edit it before it takes effect.
// https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs

output "AU Optronics 0x2EA5 Unknown" {
  position x=0 y=0
}
output "Dell Inc. DELL U3421WE HRDC753" {
  mode "3440x1440@59.973"
  scale 1 
  position x=0 y=-1460
}

output "Lenovo Group Limited N27q UT333P4N"{
  mode "2560x1440@59.951"
  scale 1
  position x=0 y=-1460
}
output "GIGA-BYTE TECHNOLOGY CO., LTD. M27Q 23340B001557"{
  mode "2560x1440@60.001"
  scale 1 
  position x=2560 y=-1460
}

output "Dell Inc. DELL U3421WE HLCF753" {
  mode "3440x1440@59.973"
  scale 1
  position x=0 y=-1460
}
output "GIGA-BYTE TECHNOLOGY CO., LTD. M27Q 0x01010101"{
  mode "2560x1440@60.001"
  scale 1 
  position x=-2560 y=-1460
}

