// ────────────── Input Configuration ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Input

input {
    keyboard {
        xkb {
            //If you want to overwrite your keyboard layout,
            // uncomment the line below and change the layout accordingly.
            layout "no"
        }
        numlock // Enable numlock on startup
        repeat-rate 70
        repeat-delay 200
    }

    touchpad {
        tap // Enable tap-to-click
    }

    focus-follows-mouse max-scroll-amount="99%"
    workspace-auto-back-and-forth // Enable workspace back & forth switching
}
