// layout_file.kdl

layout {
  default_tab_template {
    pane size=1 borderless=true {
      plugin location="zellij:tab-bar"
    }
    children
    pane size=2 borderless=true {
      plugin location="zellij:status-bar"
    }
  }
  tab name="app" cwd="$HOME/dev/nordic-epod/nordicepod-portal" focus=true {
    pane stacked=true {
      pane  focus=true name="nvim" command="nvim" args="."
      pane command="$SHELL" name="shell"
      pane size="20%" command="zsh" name="dev server" {
      args "-c" "eval \"$(mise activate zsh)\" && lsof -ti:3000 | xargs kill -9 2>/dev/null || true && pnpm run dev"
    }
    }
  }  
  tab name="functions" cwd="$HOME/dev/nordic-epod/nordicepod-portal" {
    pane stacked=true focus=true {
      pane size="20%" command="zsh" name="run" {
        args "-c" "eval \"$(mise activate zsh)\" && if lsof -Pi :8081 -sTCP:LISTEN -t >/dev/null ; then pnpm run fun:down; sleep 1; fi && pnpm run fun"
      } 
      pane command="$SHELL" name="shell"
      pane command="$SHELL" name="build:watch" {
        args "-c" "eval \"$(mise activate zsh)\" && pnpm run fun:build:watch"
      }
    }
  }
  tab name="Email ✉️" cwd="$HOME/dev/nordic-epod/nordicepod-portal" {
    pane stacked=true focus=true {
      pane command="$SHELL" name="🏃‍♂️" start_suspended=true {
        args "-c" "eval \"$(mise activate zsh)\" && pnpm run email:dev"      
      }
      pane command="$SHELL" name="shell"
    }
  }
  tab name="Notes" cwd="$HOME/Documents/Obsidian Vault/NordicEPOD" {
      pane name="nvim" command="nvim" args="."
  }
  tab name="SonarQube" cwd="$HOME/dev/nordic-epod/nordicepod-portal" {
    pane stacked=true {
      pane start_suspended=true expanded=true command="zsh" name="🏃‍"{
        args "-c" "eval \"$(mise activate zsh)\" && echo $SONAR_TOKEN && npx sonarqube-scanner -Dsonar.projectKey=NordicEpod -Dsonar.sources=. -Dsonar.host.url=http://localhost:9000 -Dsonar.token=$SONAR_TOKEN"
      } 
      pane command="$SHELL" name="shell"
      pane start_suspended=true  command="docker" name="📺" {
        args "run" "-it" "--rm" "--name" "sonarqube" "-p" "9000:9000" "-v" "sonarqube_data:/opt/sonarqube/data" "-v" "sonarqube_extensions:/opt/sonarqube/extensions" "-v" "sonarqube_logs:/opt/sonarqube/logs" "sonarqube"
      }
    }
  }  
}

