// layout_file.kdl

layout {
  default_tab_template {
    pane size=1 borderless=true {
      plugin location="zellij:tab-bar"
    }
    children
    pane size=2 borderless=true {
      plugin location="zellij:status-bar"
    }
  }
  tab name="lvim" cwd="~/dev/nordicepod/nordicepod-portal" focus=true {
    pane stacked=true {
      pane command="bash" focus=true {
          args "-c" "nvim ."
        }
        pane
      pane size="20%" command="pnpm"{
          args "run" "dev"
        } 
      
    }
  }  
  tab name="SonarQube" cwd="~/dev/nordicepod/nordicepod-portal" {
    pane stacked=true {
      pane start_suspended=true expanded=true command="bash" name="🏃‍"{
        args "-c" "direnv allow . && eval \"$(direnv export bash)\" && echo $SONAR_TOKEN && npx sonarqube-scanner -Dsonar.projectKey=NordicEpod -Dsonar.sources=. -Dsonar.host.url=http://localhost:9000 -Dsonar.token=$SONAR_TOKEN"
      } 
      pane
      pane expanded=true command="/run/current-system/sw/bin/docker" name="📺" {
        args "run" "-it" "--rm" "--name" "sonarqube" "-p" "9000:9000" "-v" "sonarqube_data:/opt/sonarqube/data" "-v" "sonarqube_extensions:/opt/sonarqube/extensions" "-v" "sonarqube_logs:/opt/sonarqube/logs" "sonarqube"
      }
    }
  }  
}

